<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전기차 충전소 포인트</title>
    <link rel="stylesheet" href="./ElCh.css" />
</head>
<script defer src="./ElCh.js"></script>
<body>
<div id = "container">
    <ul id="category">
        <li id="click1" data-order="0">
            <span></span>
            현재<br>위치
        </li>
        <li id="click2" data-order="1">
            <span></span>
            거리<br>우선
        </li>
        <li id="click3" data-order="2">
            <span></span>
            빈칸<br>우선
        </li>
        <li id="click4" data-order="3">
            <span></span>
            고속<br>우선
        </li>
    </ul>
    <div id = "update_time">새로고침<br><img src="../img/re.png"></div>
    <button id = "bookMark">★</button>
    <div id = "loginForm"><a href="/login" class="button">로그인</a></div>
    <div id = "logoutForm"><a href="/" class="button">로그아웃</a></div>
    <div id = "signupForm"><a href="/signup" class="button">회원가입</a></div>
    <div id = "map"></div>
    <div id = "info">
        <h3>즐겨찾기</h3>
        <button id="info_close">닫기</button>
        <div id="info_div">
            <ul id="info_ul"></ul>
        </div>

    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eb4681b5ea7c0c09ec67660cefc45851"></script>
</body>
</html>